<h1>HOLA SOY EL HOME HANDLEBARs</h1>
<h2>Mi nombre es {{usuario.nombre}}</h2>
<h2>Mi apellido es {{usuario.apellido}}</h2>

{{#if usuario.mayorEdad}}
  <p>es mayor de edad</p>

{{else}}
  <p>Es menor de edad</p>
{{/if}}

{{>card}}
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>

<script src="js/index.js"></script>